*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #1e1f36;
  --color-secondary: #4b4c5f;
  --color-tertiary: #787887;
  --color-accent: #f47b56;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%) no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 40px;
  font-style: normal;
  color: var(--color-primary);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

h2 {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 16px;
  color: var(--color-secondary);
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  color: var(--color-tertiary);
  margin-top: 1.2rem;
}

.container {
  background-color: #fff;
  width: 87%;
  min-height: 535px;
  border-radius: 23px;
  padding: 0 2.4rem 4.8rem 2.4rem;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  display: flex;
  flex-direction: column;
}

.faq__illustration {
  background: url("/images/bg-pattern-mobile.svg") no-repeat center;
  height: 110px;
  margin-bottom: 2rem;
  position: relative;
}

.box {
  display: none;
}

.illustration {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -100%;
  width: 237px;
}

.faq__content {
  border-bottom: 1px solid #e8e8ea;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
  cursor: pointer;
}

.faq__content:hover h2 {
  color: var(--color-accent);
}

.faq__content:hover.active h2 {
  color: var(--color-primary);
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__answer {
  display: none;
  max-width: 90%;
}

.faq__content.active .faq__answer {
  display: block;
  transition: 0.3s ease-in-out;
}

.faq__content.active .faq__question h2 {
  font-weight: 700;
}

.icon {
  width: 12px;
  height: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.faq__content.active .faq__question .icon {
  transform: rotate(-180deg);
}

/* Media queries */

@media (min-width: 1024px) {
  h1 {
    text-align: left;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 17px;
  }

  .container {
    max-width: 920px;
    min-height: 500px;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .faq__illustration {
    width: 50%;
    min-height: 500px;
    margin-bottom: 0;
    background: url("/images/bg-pattern-desktop.svg") no-repeat center;
    background-position: -500px -250px;
    background-size: 900px;
    overflow: hidden;
  }

  .illustration {
    top: 50px;
    left: 150px;
    min-width: 490px;
  }

  .box {
    position: absolute;
    left: -95px;
    top: 190px;
    display: block;
  }

  .faq__wrapper {
    width: 50%;
    max-width: 350px;
  }
}
